@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;

}

/* --Header and nav bar section --*/
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding-bottom: 150px;
}

.header-content,
.links {
    padding: 16px 230px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #e5e7eb;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 16px;
}

.head-logo {
    font-size: 24px;
    font-weight: bold;
}

.head-main {
    display: flex;
    padding-top: 75px;
}

a {
    color: white;
    text-decoration: none;
}

.main-h {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.header-content {
    display: flex;
    flex-direction: column;
    flex: 0.4;
}

.main-text {
    color: #e5e7eb;
}

.sign-up-btn {
    width: 150px;
    padding: 10px 10px;
    background-color: #3882F6;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

/* --Image Info section --*/
.sub-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 50px 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
}

.img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.img {
    width: 180px;
    height: 180px;
    border: 5px solid #3882F6;
    border-radius: 24px;
}

.image-info {
    padding-bottom: 120px;
}

.quote-tab {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 400px;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.quote-writer {
    display: flex;
    justify-content: flex-end;
    /* flex: 1; */
    font-size: 18px;
    font-weight: bold;
}

/* Call for actio section */
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
}

.call-block {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
    width: 1200px;
    padding: 80px 200px;
    color: white;
}

.call-head {
    font-size: 20px;
    font-weight: bold;
}

.call-to-action .sign-up-btn {
    color: white;
    border: 3px solid white;
}

.call-to-action p {
    margin: 0;
}

/* Footer */
.footer {
    text-align: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 15px 0;
}